.container {
  min-height: 100vh;
  max-width: 768px;
  margin: auto;
  padding: 1rem;
}

.dropdown {
  padding: 0.5rem;
  font-family: monospace, sans-serif;
  font-size: 1rem;
  background: var(--gray);
  color: var(--light);
  border-radius: 0.5rem;
}

.player {
  margin-bottom: 0.5rem;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  background: var(--gray);
  border-radius: 0.5rem;
}

.player:nth-child(even) {
  background: var(--black);
  border: 0;
}

.player:hover {
  background: #b3995d;
  transition: all 0.3s ease-out;
}
