.container {
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formControl {
  padding: 0.5rem 0.75rem;
  font-family: monospace, sans-serif;
  font-size: 1rem;
  background: var(--gray);
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 0.5rem;
}

.button {
  padding: 0.75rem 1em;
  font-family: monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  background: var(--gold);
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  filter: brightness(0.9);
}

.player {
  margin-bottom: 0.5rem;
  padding: 1rem 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  align-items: center;
  background: var(--gray);
  border-radius: 0.5rem;
}

.player:nth-child(even) {
  background: var(--black);
  border: 0;
}

.player.cantKeep,
.player:nth-child(even).cantKeep {
  background: var(--red);
}

.player.isSelected {
  background: var(--green);
  box-shadow: 0 0 8px 2px var(--green);
  font-weight: 700;
}

.player:hover {
  background: var(--gold);
  transition: all 0.3s ease-out;
}

.keeps {
  text-align: center;
}

.cost {
  text-align: right;
}

.avatar {
  border-radius: 25px;
}
